n8n_workflow.json
{
  "name": "Forex Signal Engine",
  "nodes": [
    {
      "id": "1",
      "name": "Every Hour (on bar close)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Fetch Active Signals (AI scored)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [480, 300],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SIGNAL_API_URL }}/signals/ai",
        "responseFormat": "json",
        "options": {
          "timeout": 90000,
          "onError": "continueErrorOutput"
        }
      }
    },
    {
      "id": "3",
      "name": "Filter active signals",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ACTIVE_PAIRS = ['EUR/USD', 'USD/JPY', 'AUD/JPY', 'USD/CAD'];\nconst raw = $input.first().json;\nconst filtered = (raw.signals || []).filter(s =>\n  ACTIVE_PAIRS.includes(s.pair) && !['none','error','duplicate'].includes(s.signal)\n);\nreturn [{ json: { ...raw, signals: filtered, active_count: filtered.length } }];"
      }
    },
    {
      "id": "4",
      "name": "Has signals?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nif ((raw.active_count || 0) === 0) return [];\nreturn [{ json: raw }];"
      }
    },
    {
      "id": "13",
      "name": "No signals?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 420],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nif ((raw.active_count || 0) > 0) return [];\nreturn [{ json: raw }];"
      }
    },
    {
      "id": "5",
      "name": "Format Each Signal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const signals = $input.first().json.signals;\nconst messages = [];\n\nfor (const s of signals) {\n  const ai     = s.ai || {};\n  const params = s.params || {};\n  const emoji  = ai.emoji || '📊';\n  const conf   = ai.confidence != null ? `${ai.confidence}%` : '—';\n  const quality = ai.quality || '—';\n  const risks  = (ai.key_risks || []).map(r => `  • ${r}`).join('\\n');\n  const rr     = params.rr_ratio || 2.5;\n  const direction = s.signal === 'long' ? '🟢 LONG' : '🔴 SHORT';\n\n  const msg = [\n    `${emoji} *${s.pair}* — ${direction}`,\n    `Strategy: \\`${s.strategy}\\``,\n    ``,\n    `Entry:  \\`${s.entry}\\``,\n    `SL:     \\`${s.sl}\\`  (${params.sl_mult || 2}× ATR)`,\n    `TP:     \\`${s.tp}\\`  (${rr}R)`,\n    ``,\n    `Indicators: ADX ${s.indicators?.adx} · DI-spread ${s.indicators?.di_spread} · RSI ${s.indicators?.rsi}`,\n    `Params: ADX≥${params.adx_min} · DI-spread≥${params.di_spread_min}`,\n    ``,\n    `AI Confidence: *${conf}* (${quality})`,\n    ai.summary ? `💬 ${ai.summary}` : '',\n    risks ? `\\n⚠️ Risks:\\n${risks}` : '',\n    ``,\n    `📅 Bar: ${s.bar_time} SAST`,\n    `🤖 Signal Engine · Optimized`,\n  ].filter(Boolean).join('\\n');\n\n  messages.push({ json: { text: msg, pair: s.pair, signal: s.signal } });\n}\n\nreturn messages;"
      }
    },
    {
      "id": "6",
      "name": "Send Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [1440, 200],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text":   "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram Bot" } }
    },
    {
      "id": "7",
      "name": "Format No-Signal Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 420],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nconst snapshot = raw.market_snapshot || [];\n\nconst lines = snapshot.map(s => {\n  if (s.signal === 'error') {\n    return `  *${s.pair}*  ⚠️ Data feed error`;\n  }\n  const ind = s.indicators || {};\n  const adx = ind.adx != null ? Number(ind.adx).toFixed(1) : '—';\n  const rsi = ind.rsi != null ? Number(ind.rsi).toFixed(1) : '—';\n  const diSpread = ind.di_spread != null ? Number(ind.di_spread).toFixed(1) : '—';\n  const trend = ind.adx >= 35 ? '🔥 Strong' : ind.adx >= 25 ? '📈 Moderate' : '😴 Weak';\n  const status = s.signal === 'duplicate' ? '🔁 Duplicate' : '⏸ No entry';\n  return `  *${s.pair}*  ADX ${adx} · RSI ${rsi} · DI-spread ${diSpread} · ${trend} · ${status}`;\n});\n\nconst generated = raw.generated ? raw.generated.replace('T', ' ').slice(0, 19) : '';\n\nconst text = [\n  '📊 *SignalEdge — Market Scan Complete*',\n  '',\n  '_No trade setups met entry criteria this hour._',\n  '',\n  '*Pair Snapshot:*',\n  ...lines,\n  '',\n  `📅 ${generated} SAST`,\n  '🤖 Signal Engine · Optimized',\n].join('\\n');\n\nreturn [{ json: { text, pair: 'ALL', signal: 'none' } }];"
      }
    },
    {
      "id": "12",
      "name": "Send No-Signal Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [1440, 420],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text":   "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram Bot" } }
    },
    {
      "id": "8",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [1440, 320],
      "parameters": {
        "operation":  "append",
        "documentId": "={{ $env.GOOGLE_SHEET_ID }}",
        "sheetName":  "Signal Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":  "={{ $now }}",
            "Pair":       "={{ $json.pair }}",
            "Signal":     "={{ $json.signal }}",
            "Message":    "={{ $json.text }}"
          }
        }
      }
    },
    {
      "id": "9",
      "name": "Any data errors?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 480],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nconst errors = raw.errors || [];\nif (errors.length === 0) return [];\nreturn [{ json: raw }];"
      }
    },
    {
      "id": "10",
      "name": "Format Error Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 480],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const raw = $input.first().json;\nconst errors = raw.errors || [];\nlet lines;\nif (errors.length > 0) {\n  lines = errors.map(e => `  • ${e.pair}: ${e.error || 'unknown error'}`);\n} else {\n  lines = [`  • API unreachable: ${raw.message || raw.error || 'connection failed'}`];\n}\nconst sast = new Date().toLocaleString('en-ZA', { timeZone: 'Africa/Johannesburg', hour12: false }).replace(',', '');\nconst text = `⚠️ *SignalEdge API Error*\\n\\nThe signal engine could not be reached:\\n${lines.join('\\n')}\\n\\n📅 ${sast} SAST`;\nreturn [{ json: { text } }];"
      }
    },
    {
      "id": "11",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.telegram",
      "position": [1200, 480],
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text":   "={{ $json.text }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "credentials": { "telegramApi": { "id": "1", "name": "Telegram Bot" } }
    }
  ],
  "connections": {
    "Every Hour (on bar close)": {
      "main": [[{ "node": "Fetch Active Signals (AI scored)", "type": "main", "index": 0 }]]
    },
    "Fetch Active Signals (AI scored)": {
      "main": [[
        { "node": "Filter active signals", "type": "main", "index": 0 }
      ]],
      "error": [[
        { "node": "Format Error Alert", "type": "main", "index": 0 }
      ]]
    },
    "Filter active signals": {
      "main": [[
        { "node": "Has signals?",  "type": "main", "index": 0 },
        { "node": "No signals?",   "type": "main", "index": 0 }
      ]]
    },
    "Has signals?": {
      "main": [[{ "node": "Format Each Signal", "type": "main", "index": 0 }]]
    },
    "No signals?": {
      "main": [[{ "node": "Format No-Signal Message", "type": "main", "index": 0 }]]
    },
    "Format No-Signal Message": {
      "main": [[
        { "node": "Send No-Signal Alert",  "type": "main", "index": 0 },
        { "node": "Log to Google Sheets",  "type": "main", "index": 0 }
      ]]
    },
    "Format Each Signal": {
      "main": [[
        { "node": "Send Telegram Alert",  "type": "main", "index": 0 },
        { "node": "Log to Google Sheets", "type": "main", "index": 0 }
      ]]
    },
    "Format Error Alert": {
      "main": [[{ "node": "Send Error Alert", "type": "main", "index": 0 }]]
    }
  },
  "_meta": {
    "railway_deployment": {
      "signal_api_service": "signal-api",
      "n8n_service": "n8n",
      "internal_url_format": "http://signal-api.railway.internal:8000"
    },
    "env_vars_required": {
      "SIGNAL_API_URL":    "http://signal-api.railway.internal:8000  (Railway internal URL — set in n8n service)",
      "ANTHROPIC_API_KEY": "Your Anthropic API key",
      "TELEGRAM_CHAT_ID":  "Your Telegram chat/channel ID",
      "GOOGLE_SHEET_ID":   "Google Sheets document ID (optional)"
    },
    "notes": [
      "1. Deploy signal-api service on Railway from this repo (Dockerfile)",
      "2. Deploy n8n using image: n8nio/n8n:latest with volume at /home/node/.n8n",
      "3. Set SIGNAL_API_URL to the Railway internal URL (not the public URL)",
      "4. Set ANTHROPIC_API_KEY, TELEGRAM_CHAT_ID on the n8n service",
      "5. Import this workflow file into n8n via Settings → Import",
      "6. Add Telegram Bot credentials in n8n Credentials",
      "7. Activate the workflow — it fires every hour on bar close",
      "8. Active pairs: EUR/USD, USD/JPY, AUD/JPY, USD/CAD (all 4 from signal engine)",
      "9. Duplicate signals are filtered by the API — each setup alerts exactly once",
      "10. No-signal message shows all pairs including any with data feed errors (single message)",
      "11. Nodes 10-11 only fire on complete API failure (HTTP error), not partial yfinance errors"
    ]
  }
}
